body {
  background-color:#191970 ;
  font-family: Giorgia, sans-serif;
}

.projets {
  width: 80%;
  max-width: 700px;
  margin: 20px auto;
  background-color: royalblue ;
  padding: 20px;
  border-radius: 10px;
  color: #2c3e50;
}